:root {
    --primary-color: #333;
    --secondary-color: #f8f8f8;
    --aside-color: #6ce46cc2;
    --background-color: #d3d3d3;
    --border-color: #ccc;
    --hover-color: #444;
    --active-color: #222;
    --focus-color: #444;
    --button-color: #4CAF50;
    --button-hover-color: #45a049;
    --valid-color: green;
    --invalid-color: red;
}
/* #region Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: grid;
    grid-template-rows: 1fr 3fr;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}
/* #endregion */

/* #region NavAside */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--background-color);
    height: 100%;

}

.side-bar {
    background-color: var(--aside-color);
    padding: 2rem;
}
.side-bar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-bar nav ul li {
    margin: 10px 0;
  }
  
  .side-bar nav ul li a {
    color: white;
    text-decoration: none;
  }